## Database settings

db.host=localhost
db.port=3306
db.database=orioncms
db.username=root
db.password=
db.params=?useTimezone=true&serverTimezone=UTC
db.pool.min_size=25
db.pool.max_size=100

# Mode (development, production)
debug.mode=development

## Networking settings
networking.server.host=0.0.0.0

networking.server.flash.port=30000
networking.server.nitro.port=2096

networking.server.flash.io_threads=4
networking.server.flash.accept_threads=4
networking.server.flash.channel_threads=4

networking.server.nitro.io_threads=4
networking.server.nitro.accept_threads=4

## Server variables
networking.server.backlog=500

## Game settings

game.login_provider.threads=4
game.hotel.navigator_search.threads=2
game.room_processing.threads=4